
@{
    ViewBag.Title = "Add Quotations Tranditional";
    string currentActionName = (string)this.ViewContext.RouteData.Values["action"];
    string currentControllerName = (string)this.ViewContext.RouteData.Values["controller"];
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(currentActionName, currentControllerName, null, FormMethod.Post, new { id = "form_saveQuotations" }))
{
<div class="normalDiv">
    Quotation name: <input type="text" name="Name" />
</div>
for (int i = 0; i< 3; i++)
{
<div class="normalDiv">
    Vendor@(i + 1)：
    <input name="VendorList[@(i)].Vendor" type="text">
    &nbsp;&nbsp;&nbsp;
    Age@(i + 1)：
    <input name="VendorList[@(i)].Age" type="text">
    &nbsp;&nbsp;&nbsp;
    DateOfBirth@(i + 1)：
    <input name="VendorList[@(i)].DateOfBirth" type="text">
    &nbsp;&nbsp;&nbsp;
    Status@(i + 1)：
    <select name="VendorList[@(i)].Status">
        <option value="1">Submitted Offer</option>
        <option value="2">Declined To Quotations</option>
        <option value="3">NoResponse</option>
    </select>
</div>
}

<div class="saveDiv">
    <input class="button" type="submit" value="Save" style="width:60px;" />
</div>
}

