
@{
    ViewBag.Title = "Quotations Index";
}
    <h2>Quotations Index</h2>

<p>
    @Html.ActionLink("Add Quotations", "AddQuotations")
</p>
<p>
    @Html.ActionLink("Add Quotations Tranditional", "AddQuotationsTranditional")
</p>

